.idea
.vscode
__pycache__
blocks/__pycache__

test

data/s_connection.json
data/s_main_db.json
logs/error_py.txt
logs/error_py_old.txt
logs/error_bat.txt
resource/ShareX
resource/screenshots/*

.env
Soda_VA_BOT.code-workspace